<header>
  <div class="container">
    <app-timetable-clock />

    <div class="headline">
      <h1>Abfahrt</h1>
      <span>/</span>
      <h1 class="translation">Departure</h1>
    </div>

    <div></div>

    <div class="logo">
      <img src="/assets/images/DB-Logo.svg" alt="" class="Deutsche Bahn Logo">
    </div>
  </div>
</header>

<section class="timetable">
  <div class="container top">
    <!-- Table Top -->
    <div>
      <span>Zug / <i>Train</i></span>
      <span>Zeit / <i>Time</i></span>
    </div>
    <div>
      <span>Über / Via</span>
      <span>Ziel / Destination</span>
    </div>
    <div>
      <span>Gleis / Track</span>
    </div>
    <div></div>
  </div>

  @for (trainEntry of trainData; track trainEntry.tripId) {
  <app-timetable-entry [stationId]="stationId" [trainEntry]="trainEntry"></app-timetable-entry>
  } @empty {
  <div class="loader-container">
    <div class="loader">
      <div class="track"></div>
      <div class="train"></div>
    </div>
  </div>
  }

</section>
