<header>
  <div class="container">
    <app-timetable-clock />

    <div class="headline">
      <h1>Abfahrt</h1>
      <span>/</span>
      <h1 class="translation">Departure</h1>
    </div>

    <div></div>

    <div class="logo">
      <img src="/assets/images/DB-Logo.svg" alt="" class="Deutsche Bahn Logo">
    </div>
  </div>
</header>

<section class="timetable">
  <div class="container">
    <!-- Table Top -->
    <div class="top">
      <span>Zug / <i>Train</i></span>
      <span>Zeit / <i>Time</i></span>
    </div>
    <div class="top">
      <span>Über / Via</span>
      <span>Ziel / Destination</span>
    </div>
    <div class="top">
      <span>Gleis / Track</span>
    </div>

    <div class="top"></div>
  </div>


</section>
