<dialog type="modal" id="dialog" class="drawer" #dialog>
  <section class="train-details">
    @if (trip) {
    <header>
      <div class="train-animation">
        @if (trip.line.product === 'regional') {
        <img src="/assets/images/trains/regio.png" alt="Regio">
        } @else {
        <img src="/assets/images/trains/ice.png" alt="ICE">
        }
      </div>
      <h2 class="path">{{ trip.origin.name }} - {{ trip.destination.name }}</h2>
    </header>

    <div class="container">
      <div class="stopovers">
        @for (stop of trip.stopovers; track stop.stop.id; let idx = $index) {
        <div class="stop" [ngClass]="{ 'visited': getNextStopIndex() > idx}" [id]="'station-' + idx">
          <div class="time">
            <span class="planned"
              [ngClass]="{ 'delayed': !!stop.departureDelay }">{{ formatTime(stop.plannedDeparture) }}</span>

            @if (stop.departureDelay) {
            <span class="actual">{{ formatTime(stop.departure)  }}</span>
            }
          </div>
          <div class="point">
            @if (getNextStopIndex() > idx) {
            <img class="visited" src="/assets/images/point-grey.svg">
            } @else {
            <img class="next" src="/assets/images/point-dark.svg">
            }
          </div>
          <div class="station"><span class="name">{{ stop.stop.name }}</span></div>
        </div>
        }
      </div>
    </div>
    }
  </section>
</dialog>
