.container {
  max-width: 80%;
  display: block;
}

.train-details {
  padding-top: 2rem;

  header {
    position: relative;
    display: inline-block;

    h2 {
      background-color: var(--blue-bg);
      color: #fff;
      padding: 1.25rem 1.5rem;
      font-size: 2rem;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
      z-index: 2;
    }

    .train-animation {
      position: absolute;
      z-index: 0;
      animation: slide-in 1.5s forwards;
      top: 1rem;
    }
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(20rem);
  }
}
