<section class="train-details">

  <header>
    <div class="train-animation"><img src="/assets/images/train.svg" alt="Zug"></div>
    <h2 class="path">{{ trip?.origin?.name ?? 'Origin' }} - {{ trip?.destination?.name ?? 'Destination'}}</h2>
  </header>

  <div class="container">
    <div class="stopovers">
      <div class="stop">
        <div class="time"><span class="planned">10:57</span><span class="actual">11:05</span></div>
        <div class="point disabled"></div>
        <div class="station"><span class="name">Testicilation</span></div>
      </div>
    </div>
  </div>
</section>
